ul.pagination
  li: a.prev(href='#') 上一頁
  li: a.page(href='#') 1
  li ...
  li: a.page(href='#') 5
  li: a.page.active(href='#') 6
  li: a.page(href='#') 7
  li ...
  li: a.page(href='#') 11
  li: a.next(href='#') 下一頁
