extends /layouts/_default

block menu
  +menu('notification')
block content
  +page-header('編輯推播訊息', '')

  .control-panel
    form.form
      .form-unit
        label.label 推播內容
        textarea(rows="10")
      .form-unit
        label.label 推播日期
        .input-group
          .group-item
            input(type='text' value='2018/06/24')
            select
              option 12
            select
              option 30

      .form-unit
        label.label 推播對象
        select
          option 所有會員
          option 一般會員
          option VIP 會員


    .action-bar
      button.btn.btn-primary(type='button') 儲存
