extends /layouts/_default

block menu
  +menu('member')
block content
  +page-header('編輯會員', 'vcl-v3-m01')

  .control-panel
    form.form
      .form-unit
        label.label 會員名稱
        input(type='text' value='會員名稱')
      .form-unit
        label.label 手機
        input(type='phone' value='0912345678')
      .form-unit
        label.label email
        input(type='email' value='member@gmail.com')
      .form-unit
        label.label 會員等級
        select
          option 一般會員
          option VIP 會員


    .action-bar
      button.btn.btn-primary(type='button') 儲存
