extends /layouts/_default

block menu
  +menu('member')
block content
  +page-header('會員管理', '共 12540 名會員，一般：5000，VIP：5000')
  .control-panel
    .option-bar
      .option-group
        .option-item.form.inline-form
          .form-unit
            label.label 搜尋
            input(type='text' placeholder='請輸入會員名稱')
    table.table-list
      thead
        tr
          th 會員ID
          th 會員名稱
          th 手機
          th email
          th 會員等級
          th 動作
      tbody
        - for(var i=0; i<10; i++)
          tr
            td vcl-v3-m01
            td 會員名稱
            td 0912345678
            td member@vcool.com
            td 一般會員
            td
              .btn-group
                a.btn.btn-primary(href='/member/edit') 管理
                button.btn.btn-primary.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' data-reference='parent')
                .dropdown-menu
                  button.dropdown-item 刪除

    include /partials/_pagination