extends /layouts/_default

block menu
  +menu('video')
block content
  +page-header('影片管理', '共 1000 支影片')
  .control-panel
    .option-bar
      .option-group
        .option-item.form.inline-form
          .form-unit
            label.label 腳本分類篩選
            select
              option 全部
        .option-item.form.inline-form
          .form-unit
            label.label 腳本篩選
            select
              option 全部
        .option-item.form.inline-form
          .form-unit
            label.label 搜尋
            input(type='text' placeholder='請輸入影片或腳本名稱')
      .option-group
        .option-item
          a.btn.btn-primary(href='/video/public-list' target='_blank') 產生公開影片列表

    table.table-list
      thead
        tr
          th 影片名稱
          th 建立日期
          th 使用腳本
          th 發起會員
          th 狀態
          th 動作
      tbody
        - for(var i=0; i<10; i++)
          tr
            td 影片名稱
            td 2018/06/25
            td 腳本名稱
            td 會員名稱
            td 公開
            td
              .btn-group
                a.btn.btn-primary(href='/video/video-preview') 觀看
                button.btn.btn-primary.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' data-reference='parent')
                .dropdown-menu
                  button.dropdown-item 設為私人

    include /partials/_pagination