extends ./_html

block html
  head
    - var info = getData('info')
    block head
      include ./shared/_head
    block title
      title #{info.site.title}
    block keywords
      meta(name='keywords' content=info.site.keywords)
    block description
      meta(name='description' content=info.site.description)
    //- block og
      include ./shared/_og
  body
    include /mixins/_menu
    include /mixins/_page-header
    .layout-panel
      .menu
        block menu
      .main
        block content
    block foot
      include ./shared/_foot
