mixin menu(page)
  .logo-block
    h1.title VCOOL
    h2.sub-title 管理後台

  nav.nav
    .nav-item: a(class= (page == 'script') && 'active' href='/script/') 腳本管理
    .nav-item: a(class= (page == 'video') && 'active' href='/video/') 影片管理
    .nav-item: a(class= (page == 'report') && 'active' href='/report/') 檢舉訊息
    .nav-item: a(class= (page == 'notification') && 'active' href='/notification/') 推播訊息
    .nav-item: a(class= (page == 'classes') && 'active' href='/classes/') 分類管理
    .nav-item: a(class= (page == 'member') && 'active' href='/member/') 會員管理
    .nav-item: a(href='/index') 登出