extends /layouts/_default

block menu
  +menu('script')
block content
  +page-header('編輯腳本', '腳本名稱')
  ul.tab.nav.nav-tabs
    li.tab-item.nav-item
      a.nav-link.active(data-toggle='tab' href='#info') 腳本資訊
    li.tab-item.nav-item
      a.nav-link(data-toggle='tab' href='#storyboard') 分鏡編輯

  .control-panel
    .tab-content
      .tab-pane.show.active#info
        form.form.flex-form
          .form-col
            .form-unit
              label.label 腳本名稱（中文）
              input(type='text')
            .form-unit
              label.label 腳本名稱（英文）
              input(type='text')
            .form-unit
              label.label 所屬分類
              select
                option 分類名稱

          .form-col
            .form-unit
              label.label 腳本照片
              .file-upload.script-photo
                .photo-preview
                  img(src='')
                input.script-photo-upload(type='file' id='ScriptPhotoUpload')
                label.btn.btn-primary-outline.btn-upload(for='ScriptPhotoUpload') 上傳照片

        .action-bar
          button.btn.btn-primary(type='button') 儲存
          a.btn.btn-primary(href='/video/public-list' target='_blank') 產生公開影片列表


      .tab-pane#storyboard
        .option-bar
          .option-group
            .option-item
              span.info 總分鏡：6
              span.info 總秒數：30s

          .option-group
            .option-item
              button.btn.btn-primary(type='button') 新增

        .data-group#storyboardData
          - for(var i = 0; i < 5; i++)
            .data-item
              .data-block
                form.form
                  .form-col
                    .form-unit
                      label.label 代表圖
                      .file-upload.storyboard-photo
                        .photo-preview
                          img(src='')
                        input.storyboard-photo-upload(type='file' id='StoryboardPhotoUpload'+i)
                        label.btn.btn-primary-outline.btn-upload(for='StoryboardPhotoUpload'+i) 上傳
              .data-block
                form.form
                  .form-col
                    .form-unit
                      label.label 影片長度
                      select
                        option 1s
                    .form-unit
                      label.label 分類
                      select
                        option 分類名稱
              .data-block
                form.form
                  .form-col
                    .form-unit
                      label.label 中文分鏡敘述
                      input(type='text')
                    .form-unit
                      label.label 英文分鏡敘述
                      input(type='text')
              .data-block
                form.form
                  .form-col
                    .form-unit
                      label.label 中文字卡
                      input(type='text')
                    .form-unit
                      label.label 英文字卡
                      input(type='text')
              .data-block
                form.form
                  .form-col
                    .form-unit
                      label.label 收音
                      select
                        option 關
                        option 開
                    .form-unit
                      label.label 動作
                      button.btn(type='button') 刪除

        .action-bar
          button.btn.btn-primary(type='button') 儲存
