extends /layouts/_default

block menu
  +menu('script')
block content
  +page-header('腳本管理', '共 1000 支影片')
  .control-panel
    .option-bar
      .option-group
        .option-item.form.inline-form
          .form-unit
            label.label 分類
            select
              option 分類名稱
        .option-item.form.inline-form
          .form-unit
            label.label 搜尋
            input(type='text' placeholder='請輸入腳本名稱搜尋')
      .option-group
        .option-item
          a.btn.btn-primary(href='/script/edit') 新增

    table.table-list
      thead
        tr
          th 腳本名稱
          th 分類
          th 分鏡數
          th 長度
          th 動作
      tbody
        - for(var i=0; i<10; i++)
          tr
            td 腳本名稱
            td 分鏡名稱
            td 12
            td 30s
            td
              .btn-group
                a.btn.btn-primary(href='/script/edit') 管理
                button.btn.btn-primary.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' data-reference='parent')
                .dropdown-menu
                  button.dropdown-item 刪除

    include /partials/_pagination